.home-container {
  font-family:
    'Inter',
    -apple-system,
    sans-serif;
  overflow-x: hidden;
}

.navbar {
  z-index: 1060;
  height: 70px;
}

.dashboard-logo {
  height: 40px;
  width: 190px;
}

.btn-logout {
  background-color: #dc3545;
  color: white;
  border-radius: 6px;
  transition: all 0.3s;
  border: none;
}

.btn-logout:hover {
  background-color: #b02a37;
  color: white;
  transform: scale(1.05);
}

.nav-link {
  padding: 12px 16px;
  border-radius: 10px;
  color: #4b5563 !important;
  font-weight: 500;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  border: 1px solid transparent;
}

.nav-link .icon {
  margin-right: 12px;
  font-size: 1.2rem;
}

.nav-link:hover {
  background-color: #e5e7eb;
  color: #1f2937 !important;
  transform: translateX(5px);
}

.active-link {
  background-color: #dbeafe !important;
  color: #2563eb !important;
  border-color: #bfdbfe !important;
  font-weight: 700;
}

main {
  background-color: #f9fafb;
}

/* Ajustes Responsive */
@media (max-width: 768px) {
  .navbar {
    height: 56px;
  }

  main {
    padding: 0 !important; 
  }

  .nav-link {
    padding: 15px 20px; 
    font-size: 1.1rem;
    margin-bottom: 5px;
  }
}

body {
  overflow-x: hidden;
}
