option[disabled] {
  color: #d9534f; /* rojo Bootstrap */
  font-weight: bold;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal-content-centered {
  width: 600px;
  border-radius: 0.5rem;
  max-width: 90%;
}

.card-pendiente {
  background-color: #da621d;
  color: white;
}

.card-asignada {
  background-color: #2b9486;
  color: white;
}

.card-en-proceso {
  background-color: #a1661ed7;
  color: white;
}

.card-finalizada {
  background-color: #1c9728;
  color: white;
}

.card-cancelada {
  background-color: #db3319;
  color: white;
}

.badge-instalacion {
  background-color: #2b597cfd;
  color: white;
}

.badge-reclamo {
  background-color: #0092e6;
  color: white;
}

.badge-medium {
  font-size: 0.85rem;
}
